<fieldset class="tutorial-choice" data-tutorial-choice hidden>
  <legend>Which operating system do you use?</legend>
  <label><input type="radio" name="platform" value="mac"> Mac/Linux</label>
  <label><input type="radio" name="platform" value="windows"> Windows</label>
</fieldset>

<fieldset class="tutorial-choice" data-tutorial-choice hidden>
  <legend>Where will you work on your project?</legend>
  <label><input type="radio" name="work-location" value="local"> Local computer</label>
  <label><input type="radio" name="work-location" value="cluster"> DSI cluster</label>
</fieldset>

<p data-platform-fallback>Enable JavaScript to choose your operating system and work location and view the tutorial.</p>
